<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Say Penis</title>

  <!-- CSS  -->
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
 {% include 'navbar.html' %}  
 <div class="section no-pad-bot" id="index-banner">
  <div class="container">
      <br>
      <h1 class="header center red-text cock">Alpha Test</h1>    
      {% if email == "" or email %}  
        {% if success -%}
          <div class="row section">
            <h2 class="light header center col s12 red-text">Request received!</h2>
            <p class="light caption center col s12">We've received your request for <b>{{ email }}</b> to join the alpha test.</p>
          </div>
        {% else -%}
          <div class="row section">
            <h2 class="light header center col s12 red-text">Unable to process request</h2>
            {% if message %}
              <p>{{message}}</p>
            {% else %}
              <p class="light caption center col s12">The email <b>" {{ email }} "</b> is invalid. Try again below. </p>
            {% endif %}
          </div>
        {% endif %}

      <div class="row section">
        <h3 class="light header center col s12 red-text">Instructions</h3>
      {% else %}
      <div class="row section">
      {% endif %}

        {% include 'alpha_test_instruction_table.html' %}
      </div>
  </div>

<br><br>


{% include 'scripts.html' %}

</body>
</html>