{% extends "abstract-blog.html" %}

{% block title %}WTF is Say Penis?{% endblock %}

{% block content %}
<div class="row center">
    <span class="flow-text">Learn how and why you should play Say Penis.</span>
</div>
<br>

<div class="row">
    <div class="col l8 offset-l2 s12" style="line-height: 2em;"> 
        <p>Say Penis is a really, really simple game. Possibly the simplest game.</p>

        <span class="flow-text"><b>What is this?</b></span>

        <p>Say Penis is an extremely simple game. If you've played 'the penis game' before you pretty
        much know how to play Say Penis. For more culterd of you who haven't played 'the penis game' let me
        explain.</p>

        <p>Basically the penis game goes like this. You or one of your friends whispers the 
        word 'penis' then someone else says 'penis' but a litle bit louder. Everyone goes around 
        saying 'PENIS' back and forth until everyone is screaming penis at the top of their lungs.</p>

        <p>Say Penis the app is exactly the same with one difference. Rather than judging the winner
        based on volume, we judge based on enunciation. Whoever can prounounce 'penis' the best is
        crowned champion.</p>

        
        <span class="flow-text"><b>How do I play?</b></span> 

        <p>Open the app, press New Game and press play. Viola.</p>       

        
        <span class="flow-text"><b>Why should I play?</b></span>        

        <p>Everyone plays for a different reason but the main reason I play (and I made the app in
        the first place) is because I like dick jokes.</p>

        <p> If you don't like dick jokes, you probably won't enjoy this game. However, if you don't
        like dick jokes then a) you probably aren't human and b) why are you reading the blog on saypenis.com?</p>

        <span class="flow-text"><b>Who plays Say Penis?</b></span>        

        <p>Good question! Say Penis is wired up with a large amount of usage analytics so I can see,
        when, where and how often people play. Stay tuned to the Say Penis blog for more posts once 
        we go fully live.
    </div>
</div>

<p></p>
{% endblock %}