<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Say Penis</title>
  <!-- CSS  -->
  {% include 'css.html' %}
  

</head>
<!-- uncomment to enable intercom.io user tracking {% include 'intercom.html' %} -->
<body>
 {% include 'navbar.html' %}
 <div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center red-text cock">How well can you say penis?</h1>
    <div class="row center">
      <span class="flow-text col s12">Say Penis is a party game which rates players on how well they can enunciate the word <i>penis</i>.</span>
    </div>
    <br>
    {% include 'play-on-android.html' %}
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6">
        <img class="responsive-img" src="images/round-list_framed.png">    
        <div class="row center">
          <h5>Compete world-wide.</h5>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <img class="responsive-img" src="images/success-result_framed.png">    
        <div class="row center">
          <h5>Play and share.</h5>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="container">

      <div class="divider"></div>

      <div class="row section">
        <h2 class="light header center col s12 red-text">Testimonials</h2>

        <p class="light caption center col s12">Hear what our users are talking about.</p>

        <div class="col s12 m6 l6 center">
              <audio controls>
                <source src="media/recording_matt_d.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br>
              <span class="flow-text">Matt D.</span>
        </div>      
          
        
         <div class="col s12 m6 l6 center">
              <audio controls>
                <source src="media/recording_courtney.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br>
              <span class="flow-text">Courtney M.</span>
        </div> 
        <div class="col s12 m6 l6 center">
              <audio controls>
                <source src="media/recording_matt_t.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br>
              <span class="flow-text">Matt T.</span>
        </div>      
         <div class="col s12 m6 l6 center">
              <audio controls>
                <source src="media/recording_tj.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br>
              <span class="flow-text">Thomas P.</span>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row section">
        <h2 class="light header center col s12 red-text">Share</h2>

        <p class="light caption center col s12">Share your most cherished penises with those you care about.</p>

        <div class="col s12 m6 offset-m3 l6 offset-l3">
          <img class="responsive-img" src="images/tutorial-4_framed.png">    
        </div>
      </div>

      <div class="divider"></div>      

      <div class="row section">
        <h2 class="light header center col s12 red-text">Listen</h2>

        <p class="light caption center col s12">While away the hours listening to champion penises.</p>

        <div class="col s12 m6 offset-m3 l6 offset-l3">
          <img class="responsive-img" src="images/tutorial-5_framed.png">    
        </div>
      </div>

      <div class="divider"></div>      

      <div class="row section">
        <a name="early-access">
          <h2 class="light header center col s12 red-text">Early Access</h2>
        </a>

        <p class="light caption center col s12">Join the beta test group and get access to the most cutting edge penises!</p>

        <div class="col s10 offset-s1">
          <div class="row section">
            <h4 class="bold header center">Beta Test</h4>
            <p>Beta releases are where I try out new features before a full release. The beta is open to anyone who wants early access to a relatively
            stable version of the app.</p>
            <p>To join the beta test, join the <a href="https://plus.google.com/communities/109658202006902671992">say-penis-android-beta</a> community on Google+ and opt in to the test <a href="https://play.google.com/apps/testing/say.penis.clean﻿">here</a>.</p>
          </div>
        </div>
      </div>

    </div>
</div>

{% include 'footer.html' %}
{% include 'scripts.html' %}
      <!--  Scripts-->

    </body>
    </html>

