<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Say Penis</title>

  <!-- CSS  -->
  {% include 'css.html' %}
</head>
<body>
 {% include 'navbar.html' %}
 <div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center red-text cock">How well can you say penis?</h1>
    <div class="row center">
      <span class="flow-text col s12">Say Penis is a party game which rates players on how well they can enunciate the word <i>penis</i>.</span>
    </div>
    <br>
    <div class="row center">     
      <a class="btn-large disabled">Play on Android</a>
      <!-- <a href="https://play.google.com/store/apps/details?id=say.penis" id="download-button" class="btn-large waves-effect waves-light red disabled">Play on Android</a> -->
            <div classe="col s12">
              <p>Say Penis is currently a test release. Scroll to the bottom or <a href="/#early-access">click here</a> for instruction on how to try the early release version.</p>
            </div>

    </div>
    <br><br>
  </div>
</div>


<div class="container">
    <div class="row section">

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/worldbest.webp">            
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Compete</span>
              <p>Compete with the best penis-sayers in the world!</p>
            </div>          
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/successful_result.webp">            
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Listen</span>
              <p>Listen to your own penises or improve by listening to the best.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/share.webp">            
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Share</span>
              <p>Share your penises with your friends and the world!</p>
            </div>
          </div>
        </div>
    </div>

      <div class="divider"></div>

      <div class="row section">
        <h2 class="light header center col s12 red-text">Testimonials</h2>
        <p class="light caption center col s12">Hear what our users are talking about!</p>

        <div class="col s12 m6 l6 center">
              <audio controls>
                <source src="media/recording_matt_d.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br>
              <span class="flow-text">Matt D.</span>
        </div>      
          
        
         <div class="col s12 m6 l6 center">
              <audio controls>
                <source src="media/recording_courtney.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br>
              <span class="flow-text">Courtney M.</span>
        </div> 
        <div class="col s12 m6 l6 center">
              <audio controls>
                <source src="media/recording_matt_t.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br>
              <span class="flow-text">Matt T.</span>
        </div>      
          
        
         <div class="col s12 m6 l6 center">
              <audio controls>
                <source src="media/recording_tj.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br>
              <span class="flow-text">Thomas P.</span>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row section">
        <a name="early-access">
          <h2 class="light header center col s12 red-text">Early Access</h2>
        </a>
        <p class="light caption center col s12">Join the alpha or beta test groups and get access to the most cutting edge penises!</p>

        <div class="col s10 offset-s1">
          <div class="row section">
            <h4 class="bold header center">Beta Test</h4>
            <p>Beta releases are more stable and less frequent than alpha. The beta is open to anyone who wants early access to a relatively
            stable version of the app.</p>
            <p>To join the beta test, simply join the <a href="https://plus.google.com/communities/109658202006902671992">say-penis-android-beta</a> community on Google+ and install the app from <a href="https://play.google.com/store/apps/details?id=say.penis">Google Play</a>.</p>
          </div>

          <div class="row section">
          <h4 class="bold header center">Alpha Test</h4>
          {% include 'alpha_test_instruction_table.html' %}
        </div>
      </div>

    </div>
</div>

{% include 'footer.html' %}
{% include 'scripts.html' %}
      <!--  Scripts-->

    </body>
    </html>

