<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Say Penis</title>

  <!-- CSS  -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
 {% include 'navbar.html' %}
 <div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center red-text cock">How well can you say penis?</h1>
    <div class="row center">
      <span class="flow-text col s12">Say Penis is a party game which rates players on how well they can enunciate the word <i>penis</i>.</span>
    </div>
    <br>
    <div class="row center">     
      <a class="btn-large disabled">Play on Android</a>
      <!-- <a href="https://play.google.com/store/apps/details?id=say.penis" id="download-button" class="btn-large waves-effect waves-light red disabled">Play on Android</a> -->
            <div classe="col s12">
              <p>Say Penis is currently in alpha testing. Scroll down for instruction on how to try the alpha version.</p>
            </div>

    </div>
    <br><br>
  </div>
</div>


<div class="container">
    <div class="row section">

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/worldbest.webp">            
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Compete</span>
              <p>Compete with the best penis-sayers in the world!</p>
            </div>          
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/successful_result.webp">            
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Listen</span>
              <p>Listen to your own penises or improve by listening to the best.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/share.webp">            
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Share</span>
              <p>Share your penises with your friends and the world!</p>
            </div>
          </div>
        </div>
    </div>

      <div class="divider"></div>

      <div class="row section">
        <h2 class="light header center col s12 red-text">Testimonials</h2>
        <p class="light caption center col s12">Hear what our users are talking about!</p>

        <div class="col s12 m6 l6 center">
              <audio controls>
                <source src="media/recording_matt_d.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br>
              <span class="flow-text">Matt D.</span>
        </div>      
          
        
         <div class="col s12 m6 l6 center">
              <audio controls>
                <source src="media/recording_courtney.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br>
              <span class="flow-text">Courtney M.</span>
        </div> 
        <div class="col s12 m6 l6 center">
              <audio controls>
                <source src="media/recording_matt_t.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br>
              <span class="flow-text">Matt T.</span>
        </div>      
          
        
         <div class="col s12 m6 l6 center">
              <audio controls>
                <source src="media/recording_tj.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br>
              <span class="flow-text">Thomas P.</span>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row section">
        <h2 class="light header center col s12 red-text">Early Access</h2>
        <p class="light caption center col s12">Join the alpha or beta test groups and get access to the most cutting edge penises!</p>

        <div class="col s10 offset-s1">
          <div class="row section">
            <h4 class="bold header center">Beta Test</h4>
            <p>Beta releases are more stable and less frequent than alpha. The beta is open to anyone who wants early access to a relatively
            stable version of the app.</p>
            <p>To join the beta test, simply join the <a href="https://plus.google.com/communities/109658202006902671992">say-penis-android-beta</a> community on Google+ and install the app from <a href="https://play.google.com/store/apps/details?id=say.penis">Google Play</a>.</p>
          </div>

          <div class="row section">
          <h4 class="bold header center">Alpha Test</h4>
          <table>
            <thead>
              <tr>
                <th data-field="id">Steps to join the alpha test</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1. Submit your email below to request to join the public <a href="https://plus.google.com/communities/103071155941075905692">say-penis-android-alpha</a> community on Google+.
                </td>
              </tr>
              <tr>
                <td>
                  <form id="alpha-email">
                      <div class="input-field col m8 offset-m1 s10 offset-s1">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                      </div>
                      <div class="input-field col m2 s10 offset-s1">
                        <button class="btn waves-effect waves-light red" type="submit" formaction="/alpha" formmethod="post" formid="alpha-email" name="action">Submit
                          <i class="mdi-content-send right"></i>
                        </button>
                      </div>

                  </form>
                </td>
              </tr>
              <tr>
                <td>2. There is limited space so you may not receive an invite immediately. Once you do, join the community and download the app from <a href="https://play.google.com/apps/testing/say.penis">the Google Play Store</a>.</td>
              </tr>
                        <tr>
                <td>3. Say Penis whenever and whereever you want!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
</div>

{% include 'footer.html' %}
{% include 'scripts.html' %}
      <!--  Scripts-->

    </body>
    </html>

